body {
    background-color: #f6e5dc;
    font-family: 'Verdana';
    margin: 0;
    padding: 0;
}

header {
    background-color: #2f180c;
    text-align: center;
    height: 60px;
    color: khaki;
}

header h1 {
    margin: 0;
}

.blocks {
    display: flex;
}

.left-block {
    width: 60%;
}

.right-block {
    font-size: 150%;
    padding: 70px;
}

.bottom-section {
    background-color: #d0b6a8;
    text-align: center;
    padding: 30px;
}

footer {
    background-color: #2f180c;
    color: khaki;
    height: 60px;
}


.image {
    height: 350px;
}

.button {
    margin: 10px;
    padding: 5px;
    background-color: #2f180c;
    color: khaki;
    text-transform: uppercase;
}

.form-block label {
    display: block;
}

.checkbox {
    display: flex;
    justify-content: center;
}

footer p {
    margin: 0;
}